In [1]:
import os
file_names:list[str] = os.listdir('stations')
abs_paths:list[str] = []
for name in file_names:
    if '每日各站進出站人數' in name:
        abs_paths.append(os.path.abspath(f'stations/{name}'))
    
abs_paths

['/workspaces/2024-02-AI-/lesson19/stations/每日各站進出站人數2020.csv',
 '/workspaces/2024-02-AI-/lesson19/stations/每日各站進出站人數20190423-20191231.csv',
 '/workspaces/2024-02-AI-/lesson19/stations/每日各站進出站人數2023.csv',
 '/workspaces/2024-02-AI-/lesson19/stations/每日各站進出站人數2021.csv',
 '/workspaces/2024-02-AI-/lesson19/stations/每日各站進出站人數2022.csv']

In [2]:
import pandas as pd
from pandas import DataFrame

all_df:list[DataFrame] = [pd.read_csv(path) for path in abs_paths]
display(all_df)

[       trnOpDate  staCode  gateInComingCnt  gateOutGoingCnt
 0       20200101      900             7552             8154
 1       20200101      910             1020             1135
 2       20200101      920             1623             1972
 3       20200101      930             4130             4813
 4       20200101      940             1818             2128
 ...          ...      ...              ...              ...
 86927   20201231     7360             3523             3602
 86928   20201231     7361                3               18
 86929   20201231     7362               28               34
 86930   20201231     7380              609              604
 86931   20201231     7390              377              444

 [86932 rows x 4 columns],
        trnOpDate  staCode  gateInComingCnt  gateOutGoingCnt
 0       20190423      900             8442             7743
 1       20190423      910             1394             1348
 2       20190423      920             2770             2423
 3       20190423      930             6113             6335
 4       20190423      940             2680             2726
 ...          ...      ...              ...              ...
 60124   20191231     7360             5779             5782
 60125   20191231     7361              146              142
 60126   20191231     7362              116              134
 60127   20191231     7380              654              585
 60128   20191231     7390              448              396

 [60129 rows x 4 columns],
        trnOpDate  staCode  gateInComingCnt  gateOutGoingCnt
 0       20230101      900             8030             8241
 1       20230101      910             1017             1326
 2       20230101      920             1400             1705
 3       20230101      930             3558             4398
 4       20230101      940             1509             1815
 ...          ...      ...              ...              ...
 86604   20231231     7360             7916             8252
 86605   20231231     7361              164              195
 86606   20231231     7362              652              720
 86607   20231231     7380             1526              656
 86608   20231231     7390              576              447

 [86609 rows x 4 columns],
        trnOpDate  staCode  gateInComingCnt  gateOutGoingCnt
 0       20210101      900             7223             7425
 1       20210101      910              972             1100
 2       20210101      920             1505             1698
 3       20210101      930             4385             4657
 4       20210101      940             1785             1967
 ...          ...      ...              ...              ...
 86534   20211231     7360             4062             4451
 86535   20211231     7361               87              104
 86536   20211231     7362              341              403
 86537   20211231     7380              534              481
 86538   20211231     7390              383              389

 [86539 rows x 4 columns],
        trnOpDate  staCode  gateInComingCnt  gateOutGoingCnt
 0       20220101      900             8645             8526
 1       20220101      910              996             1243
 2       20220101      920             1369             1711
 3       20220101      930             3663             4535
 4       20220101      940             1532             1845
 ...          ...      ...              ...              ...
 86547   20221231     7360             3984             3893
 86548   20221231     7361               92              115
 86549   20221231     7362              131              159
 86550   20221231     7380              494              426
 86551   20221231     7390              313              274

 [86552 rows x 4 columns]]

In [3]:
inOut_df = pd.concat(all_df)
inOut_df.columns = ['乘車日','車站代碼','進站人數','出站人數']
inOut_df

            乘車日  車站代碼  進站人數  出站人數
0      20200101   900  7552  8154
1      20200101   910  1020  1135
2      20200101   920  1623  1972
3      20200101   930  4130  4813
4      20200101   940  1818  2128
...         ...   ...   ...   ...
86547  20221231  7360  3984  3893
86548  20221231  7361    92   115
86549  20221231  7362   131   159
86550  20221231  7380   494   426
86551  20221231  7390   313   274

[406761 rows x 4 columns]

In [4]:
import requests
url2 = 'https://ods.railway.gov.tw/tra-ods-web/ods/download/dataResource/0518b833e8964d53bfea3f7691aea0ee'
response = requests.get(url2)
if response.status_code == 200:
    station_data = response.json()

station_df = pd.DataFrame(station_data,columns=['stationCode','stationName'])
station_df.columns = ['車站代碼','中文站名']
station_df['車站代碼'] = station_df['車站代碼'].astype(int)
station_df

     車站代碼 中文站名
0     900   基隆
1     910   三坑
2     920   八堵
3     930   七堵
4     940   百福
..    ...  ...
237  7350   猴硐
238  7360   瑞芳
239  7361  海科館
240  7380  四腳亭
241  7390   暖暖

[242 rows x 2 columns]

In [5]:
station_all_df = pd.merge(inOut_df,station_df,on='車站代碼',how='left')
station_all_df

             乘車日  車站代碼  進站人數  出站人數 中文站名
0       20200101   900  7552  8154   基隆
1       20200101   910  1020  1135   三坑
2       20200101   920  1623  1972   八堵
3       20200101   930  4130  4813   七堵
4       20200101   940  1818  2128   百福
...          ...   ...   ...   ...  ...
406756  20221231  7360  3984  3893   瑞芳
406757  20221231  7361    92   115  海科館
406758  20221231  7362   131   159  NaN
406759  20221231  7380   494   426  四腳亭
406760  20221231  7390   313   274   暖暖

[406761 rows x 5 columns]