In [6]:
import pandas as pd
import numpy as np
subjects = ['國文', '英文', '數學', '地理', '歷史']
scores = np.random.randint(30, 101, size=(30, 5))
scores_df = pd.DataFrame(scores, columns=subjects, index=range(1, 31))
scores_sum = scores_df.sum(axis=1)
scores_average = scores_df.mean(axis=1)
scores_df

    國文  英文   數學  地理  歷史
1   44  47   70  96  52
2   55  90   47  41  71
3   91  74   54  69  87
4   94  32   35  31  97
5   65  64   89  72  66
6   45  82   78  96  59
7   98  43   98  51  88
8   86  74   93  68  63
9   86  95   61  57  55
10  94  84   34  75  79
11  89  63   98  34  82
12  73  95   40  78  85
13  77  46   39  33  91
14  79  65   78  73  99
15  90  72   94  67  37
16  36  60   88  77  93
17  81  34   90  65  32
18  73  84  100  67  72
19  83  34   76  52  49
20  89  33   77  41  80
21  68  31   38  70  95
22  94  39   57  99  31
23  72  93   61  58  76
24  77  96   61  97  62
25  64  42   91  60  71
26  44  64   91  43  57
27  83  78   63  30  55
28  82  39   90  97  98
29  66  70   53  84  41
30  86  81   99  98  47

In [7]:
from pandas import Series
def to_statistic(value:Series)->Series:
    return Series([value.max(),value.min(),value.mean()],index=['最高分','最低分','平均分'])
scores_df.apply(to_statistic)

            國文         英文          數學         地理    歷史
最高分  98.000000  96.000000  100.000000  99.000000  99.0
最低分  36.000000  31.000000   34.000000  30.000000  31.0
平均分  75.466667  63.466667   71.433333  65.966667  69.0